<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Scan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="app">
    <img src="{{ url_for('static', filename='logo1.png') }}" class="logo1">

    <div class="description"> Only one-page document in 'png','jpeg' or 'jpg' format is supported.</div>

    <div class="form-section">
        <form action="/" method="POST" enctype="multipart/form-data">
          <input accept="image/*" type="file" name="file" id="files">
          <input type="submit" value="Generate">
        </form>
      </div>
      <div class="images-section">
      
        <img id="uploaded-image">
      
    </div>
    
  </div>
  <script>

    document.getElementById('files').onchange = function () {
    var src = URL.createObjectURL(this.files[0])
    document.getElementById('uploaded-image').src = src
  }
    

  </script>
</body>
</html>