<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='second.css') }}">
    <script>
        window.addEventListener("load", () => {
          const loader = document.querySelector(".loader");

          loader.classList.add("loader--hidden");

          loader.addEventListener("transitionend", () => {
            document.body.removeChild(loader);
          });
        });

        function copyText() {
            var textToCopy = document.getElementById("myText").textContent;
            navigator.clipboard.writeText(textToCopy);
        }
    </script>
</head>
<body>
    <div class="loader">

    </div>
    <div class="header">
        <a href="{{ url_for('index')}}"><img src="{{ url_for('static',filename='logo1.png') }}" class="logo1"></a>
    </div>



    <div class="display_panel">
        <div class ="copy2">Input File:</div>
        <div class ="copy2">Output Text:</div>
    <div class ="copy2"><img src="{{ url_for('static',filename='src_image/sample.jpg') }}" class="image"></div>
        <div class="copy2">
            <button class="copy" onclick="copyText()">Copy</button>
        <div class="textdisplay" id="myText">>
      {{ file_content }}
        </div>
            </div>
    </div>






</body>
</html>