@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Roboto+Condensed&family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Shadows+Into+Light+Two&display=swap');
:root {
    --black: #000000;
    --almost-black: #080708;
    --blue: #3772FF;
    --blue-light: #3787ff;
    --red: #DF2935;
    --yellow: #FDCA40;
    --light: #E6E8E6;
    --white: #FFFFFF;
    --timberwolf: #dad7cdff;
  --sage: #a3b18aff;
  --fern-green: #588157ff;
  --hunter-green: #3a5a40ff;
  --brunswick-green: #344e41ff;
  }

  * {
    height:auto;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    color: var(--white);
    background-color: #dad7cdff;
    background-image: linear-gradient(to right, #344e41ff, #a3b18aff);




}


  .logo1{
    display:flex;
    height:13rem;
    width:auto;
    padding: 0;
    margin: 0;


  }

  .product_title{
    font-size:8rem;
    font-weight: bold;
    text-shadow: 1rem 1rem gray;
  }

  .description{
    font-size:2rem;
    font-family: "Open Sans", sans-serif;

  }

  .app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-section {
    padding: 15px 0 0 15px;
    width: 25%;
    color: var(--light);
    flex-shrink: 0;
  }

  .images-section {
    padding: 0;
    max-width: 75%;
    height: auto;


    display: flex;

  }



/* CSS */
input[type='file'] {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #dddddd;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input[type='file']:hover {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

input[type='file']:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}




  .images-section #uploaded-image {
    width: 500px;
    min-height: 500px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
  }



  /* Forms */
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

 /* <!-- HTML !-->
<button class="button-54" role="button">Button 54</button>


.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
  }
*/
  input[type='file']::file-selector-button {
    display: none;
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    font-family: 'Love Ya Like A Sister', cursive;
    background-image: linear-gradient(to bottom, var(--white), var(--light));
  }

input[type='submit'] {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #dddddd;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input[type='submit']:hover {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

input[type='submit']:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

